<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    {% if image_paths is iterable %}
        {% for image_path in image_paths %}
            <img src="{{ image_path }}" alt="{{ title }}" style="max-width: 100%; height: auto; margin-bottom: 20px;">
        {% endfor %}
    {% else %}
        <img src="{{ image_paths }}" alt="{{ title }}" style="max-width: 100%; height: auto;">
    {% endif %}
</body>
</html>
